body {
    background: url('https://scitechdaily.com/images/Electronic-Chip.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: Andale Mono, monospace;
    color: white;
}

