body {
    color: white;
    background-color: white;
}

.SLACA2019 {
	position: absolute;
	top: 0%;
	left: 0%;
	max-height: 68px;
	max-width: 220px;
	background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;	
	color: #FFFFFF;
	padding: 18px;
	-webkit-box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11); 
	box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11);
}

.header {
	background-color: #FDF1EB;
	height: 68px;
}

.headertexto1 {
	position: absolute;
	width: 391px;
	height: 16px;
	left: 240px;
	top: 5px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #725C5C;	 
}

.headertexto2 {
	position: absolute;
	width: 643px;
	height: 26px;
	left: 239px;
	top: 23px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	color: #725C5C;
}

.headertexto3 {
	position: absolute;
	width: 105px;
	height: 16px;
	left: 239px;
	top: 48px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #725C5C;	
}

.headerBemVindo {
	position: absolute;
	width: 72px;
	height: 18px;
	left: 190px;
	top: 5px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: right;
	color: #333333;

}

.headerEmail{
	position: absolute;
	width: 163px;
	height: 15px;
	left: 100px;
	top: 20px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	color: #333333;
}

#drop {
	position: absolute;
	width: 97px;
	height: 34px;
	left: 900px;
	top: 12px;
	box-sizing: border-box;
	border-radius: 3px;	
}

/*Menu*/


#menuToggle
{
  position: absolute;
  bottom: -5px;
  left: 287px;


  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: black;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #B40404;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;


  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle img
{
  display: block;
  width: 48px;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
  
}

#menu
{
  position: absolute;
  width: 300px;
  margin-left: -1800%;
  padding: 50px;
  border-radius: 73px 73px 73px 73px;
  
  background: linear-gradient(0deg, rgba(255,255,255,1) 16%, rgba(253,241,235,1) 74%);
  border: 12px double #EE7A3A;

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 50% 50%;
  transform: translate(-700%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0px 10px 32px;
  font-size: 17px;
  align-items: center;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.imagemMenu {
   width: 150%;
   height: 150%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-right: 5px;
   border-radius: 25px;
}

.imagemHeaderMenu {
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   max-height: 50px;
   max-width: 40px;
   padding-right: 5px;
}

/*Efeito imagem */ 
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}