body {
    color: black;
    background-color: white;
}

/*head*/

.SLACA2019 {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 68px;
	width: 200px;
	background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;	
	color: #FFFFFF;
	padding: 15px;
	padding-right: 0px;
	-webkit-box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11); 
	box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11);
}

.header {
	background-color: #FDF1EB;
	height: 68px;
}

.headertexto1 {
	position: absolute;
	width: 391px;
	height: 16px;
	left: 225px;
	top: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #725C5C;	 
}

.headertexto2 {
	position: absolute;
	width: 643px;
	height: 26px;
	left: 225px;
	top: 23px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	color: #725C5C;
}

.headertexto3 {
	position: absolute;
	width: 105px;
	height: 16px;
	left: 225px;
	top: 48px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #725C5C;	
}

.headerBemVindo {
	position: absolute;
	width: 72px;
	height: 18px;
	left: 205px;
	top: 5px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: right;
	color: #333333;

}

.headerEmail{
	position: absolute;
	left: 140px;
	top: 20px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	color: #333333;
}

#drop {
	position: absolute;
	width: 97px;
	height: 34px;
	left: 880px;
	top: 12px;
	box-sizing: border-box;
	border-radius: 3px;	
}

/*Menu*/


#menuToggle
{
  position: absolute;
  bottom: -5px;
  left: 287px;


  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: black;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #B40404;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;


  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle img
{
  display: block;
  width: 48px;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
  
}

#menu
{
  position: absolute;
  width: 300px;
  margin-left: -1800%;
  padding: 50px;
  border-radius: 73px 73px 73px 73px;
  
  background: linear-gradient(0deg, rgba(255,255,255,1) 16%, rgba(253,241,235,1) 74%);
  -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #EE7A3A, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #EE7A3A, 5px 5px 15px 5px rgba(0,0,0,0);

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 50% 50%;
  transform: translate(-700%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0px 10px 32px;
  font-size: 17px;
  align-items: center;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.imagemMenu {
   width: 150%;
   height: 150%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-right: 5px;
   border-radius: 100%;
}

.imagemHeaderMenu {
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   max-height: 50px;
   max-width: 40px;
   padding-right: 5px;
}

.doisMenu {
   width: 100%;
   height: 100%;
   float: right;
   left: -50%;
   max-height: 35px;
   max-width: 22px;   
   border-radius: 25px;
   padding-bottom: 10px;
   padding-top: -30px;
}

.galoaMenu {
   padding: 10px;
}

/*Fim head*/

/*Efeito imagem */ 
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

/*Fim Efeito*/ 

/*Inicio Body*/

/*Menu Slaca*/

.logoSlaca {
	padding-left: 15px;
	width: 215px;
	height: 258px;
	-webkit-box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11); 
	box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11);
}

.abaixoSlaca {
	width: 215px;
	-webkit-box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11); 
	box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11);
	padding-bottom: 40px;
}

#menuSlaca {
   text-align: center;
   font-size: 18px;
   font-family: monospace;
   padding: 15px;
}

#menuSlaca a {
  text-decoration: none;
  text-align: left;
  padding-top: 5px;
  padding-left: 15px;
  width: 200px;
  height: 40px;
  color: #725C5C;
  display: inline-block;
  font-family: Quicksand;
  font-style: normal;
  border-bottom: 1px solid #BDBDBD;
} 
      /*Links Hover, passa o cursor sobre o link*/
       #menuSlaca a:hover{
		background-color: #fdf1eb;
      }
 
      /*Links Ativos, quando clicados*/
      #menuSlaca a:active {
		background: linear-gradient(90deg, rgba(255,180,85,1) 2%, rgba(253,241,235,1) 2%);
      }

/*Fim Menu*/

/*Inicio Centro da Pagina*/

.centroTitulo {
	width: 730px;
	height: 54px;
	margin: 20px 10px 10px 12px;
	height: 54px;
	left: 0px;
	right: 273px;
	top: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	line-height: 25px;
	letter-spacing: 0.05em;
	color: #ED7839;	 
}

.centroVideo {
	margin: 20px 0px 0px 10px;
}

/*Fim Centro da Pagina*/

/*Efeito Button*/
.button {
  position: relative;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #D8D8D8;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s

}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
/*Fim efeito*/

/*Efeito Scrollbar*/
.wrapper {
  width: 242px;
  height: 438px;
  text-align:center;
  font-size: 1.5rem;
}

textarea::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  background-color: #E7E7E7; }

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #BFBFBF; }
/*Fim Efeito*/

/*Inicio Lado Direito da Pagina*/
.button1 {
	width: 120px;
	height: 31px; 
	margin-top: 20px;
	background: #ED7839;
	color: white;
	border-radius: 4px;
	border: 0px;
	position: relative;
	left:7%;		

}
.button2 {
	width: 43px;
	height: 31px; 
	background: #ED7839;
	border-radius: 4px;
	border: 0px;
	position: relative;
	top: -0.1%;
	left:7%;
}
.button3 {
	width: 43px;
	height: 31px; 
	background: #ED7839;
	border: 0px;
	border-radius: 4px;
	position: relative;
	top: -0.05%;	
	left:7%;
}

.tituloTrabalho {
	color: #ED7839;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	margin-left: 7%;
}

.navbarDetalhes {
	background: #FDF1EB;
	border: 1px solid #ECECEC;
	box-sizing: border-box;
	border-radius: 3px 3px 0px 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
}

.texto {
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	color: #5C5C5C;
	white-space: nowrap;
	font-size: 16px;
}

.parte2 {
	width: 200px;
	-webkit-box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11); 
	box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.11);	
	padding-top: 50px;
}

.navbarResumo {
	background: #FDF1EB;
	border: 1px solid #ECECEC;
	box-sizing: border-box;
	border-radius: 3px 3px 0px 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
}

.textoResumo {
	font-family: Roboto;
	font-style: normal;
	font-size: 14px;
    width: 990px;
	background: #FFFFFF;
	border: 1px solid #ECECEC;
	box-sizing: border-box;
	border-radius: 3px;  	
}

.verMais {
	color: #ED7839;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

/*Efeito Ver Mais*/
.section {
    position: absolute;
}

.section > .txt-more {
    display: block;

    /*posiciona o link no final da DIV*/
    position: absolute;
    right: 17.5%;
    bottom: -5.2px;
}

.section > .partial {
    height: 114px; /* limita a altura aqui, assim irá limitar o texto*/
    width: 990px;
    overflow: hidden;
    padding: 0px;
}

.section > a::before {
    content: "Ocultar"; /*Texto de quando o texto estiver visivel*/
    font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 50px;
	color: #ED7839;
}

.section > a.txt-more::before {
    content: "ver mais"; /* texto para o link*/
    font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #ED7839;
}
/*Fim Efeito Ver Mais*/
